.footer_main {
  margin-top: 7.5rem;
  width: 100%;
  height: 12rem;
  background-color: var(--onlineblue);
  color: white;
  padding: 2rem 0;
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.footer_links a {
  color: white;
  text-decoration: none;
  transition: 0.2s;
}

.footer_links a:hover {
  color: var(--onlineyellow);
}

.footer_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.footer_bottom a {
  color: white;
  transition: 0.2s;
  font-weight: 500;
}

.footer_bottom a:hover {
  color: var(--onlineyellow);
}
