/* CSS file: styles.css */

.navbar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.navbar_box{
    width: 100%;
    height: 5rem;
    margin-bottom: 1.25rem;
    position: sticky;
    top: 0px;
    --tw-bg-opacity: 1;
    background-color: rgb(19 22 32 / var(--tw-bg-opacity));
}

.navbar img {
    width: 144px;
    height: 100%;
}

.navbar .menu {
    display: flex;
    gap: 80px;
    margin: 0 auto;
    color: white;
}

.navbar .menu p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-top: 4px;
}

.navbar .spacer {
    width: 144px;
    height: 100%;
}

.hidden {
    visibility: collapse;
    top: -100px;
}