@media only screen and (max-width: 775px) {
    #overskrift {
        display: block !important;

    }
    #splash,#scroll {
        display: none;

    }

}

#overskrift {
    display: none;
    font-size:x-large;
    margin-bottom: 10px;
}
