@media only screen and (max-width: 640px) {
    #overskrift {
        display: block !important;

    }
    #splash,#scroll {
        display: none;

    }

}

#overskrift {
    display: none;
    font-size:x-large;
    margin-bottom: 10px;
}



.tekst-to {
    margin: 0%;
    font-size: 18px;
}