.period_bar_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.period_button {
    color: #ffffff !important;
    background-color: #0B5374 !important;
    margin-top: 5px !important;
}