#body{
    margin: 1rem 10rem;
    padding: 0;
}

#title{
    font-size: 2rem;
    margin: 1.5rem auto;
}

#description{
    margin-bottom: auto;
}

#list{
    list-style-type: circle;
    margin: 1rem 3rem;
}